.Right-side{
    margin-left:1500x;
    float:right;
    margin-top: 0%;
   
}

 .right-1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-top: 0%;
 
 }

 .right{
   display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  flex-direction: column;
  border: 1px solid #f7d661;
  min-width: 10%;
  height: 50%;
  background-color: #f5efd9

 }

 .right-div{
   padding: 0px 0px;
  margin-right: 50px;
  display: flex;
  margin-top: 0%; 
  justify-content: space-evenly;
  align-items: center;
 
}
 .right-div p {
   display: flex;
   justify-content: flex-start;
   align-items: center;
    margin-right: 60%;
  flex-direction: column;  
   min-width: 110%;
   height: 0%;
   text-align: center;
   font-size: smaller;
   }  

    .right h4{
    border: 1px ;
    min-width: 90%;
    padding: 10px 15px;
    margin: 0% 10px;
     border-bottom: 1px solid #f7d661;
    background-color: #fff0b8;
    border-radius: 2px;
    display: flex;
     justify-content: flex-start;
     align-items: center;
    }


.pen{
    width: 5%;
    height: 20px;
    margin-left: 80%;
    padding: 0% 0%;;
    }

.msg{
   
        width: 5%;
        height: 20px;
        margin-left: 80%;
        padding: 0% 0%;
        
}

.stack{
    width: 5%;
    height: 20px;
    margin-left: 80%;
    padding: 0% 0%;
}

.tags{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 10%;
}
.tags h3{
    font-size: 18px;
    color: rgb(71, 69, 69);
    font-weight: 400;

}
.name-tag{
 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.name-tag p{
    background-color: rgba(211, 234, 241, 0.966);
    padding: 4px 10px;
    color: rgba(87, 200, 235, 0.966);
    border-radius: 3px;
    transition: 0.1s;
    }
    .name-tag p:hover{
        background-color: rgba(175, 227, 245, 0.966);
        cursor: pointer;
    }